doctype html
html
  head
    script(src='scripts/upload.js')

  body
    form(method='post', action='/', enctype='multipart/form-data')
          //- input(type='text', name='name', value="Вася Тест")
          br
          input(type='file', name='image', onchange="uploadFile();") 
          br
          //- input(type='text', name='path', value='')
          if !!data
              input(type='text', name="imagelink", value="#{data.link}") 
              br
              p #{uploaded.link}
          br  
          input(type='submit')
